<html>
<head></head>

<body>

  <a href="/add-vacation">Add Vacation</a>

<ul>
  {{#vacationList}}

  <li>
    <label>{{location}}</label><br>
    <label>{{imageURL}}</label><br>
    <label>{{vacationStart}}</label><br>
    <label>{{vacationEnd}}</label><br>

  </li>

  {{/vacationList}}
</ul>

</body>

</html>
